<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Service</title>

    <!-- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../static/css/add_form.css" th:href="@{/css/add_form.css}">
</head>
<body>
<div class="add-page">
    <div class="form">
        <h2>Create New Service</h2>
        <form th:action="@{/services}" th:object="${service}" method="post">
            <input type="text" name="name" th:field="*{name}" placeholder="Enter Service Name"/>
            <input type="text" name="price" th:field="*{price}" placeholder="Enter Service Price"/>
            <input type="text" name="duration" th:field="*{duration}" placeholder="Enter Service Duration"/>
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>