<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>

    <!-- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../static/css/add_form.css" th:href="@{/css/add_form.css}">
</head>
<body>
<div class="add-page">
    <div class="form">
        <h2>Create New Employee</h2>
        <form th:action="@{/employees}" th:object="${employee}" method="post">
            <input type="text" name="firstName" th:field="*{firstName}" placeholder="Enter Employee First Name"/>
            <input type="text" name="lastName" th:field="*{lastName}" placeholder="Enter Employee Last Name"/>
            <input type="text" name="emailId" th:field="*{emailId}" placeholder="Enter Employee Email"/>
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>