<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

    <!-- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">

    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/navigation.css" th:href="@{/css/navigation.css}"/>
</head>
<body>
<body>

<!-- todo welcome -->

<div th:insert="fragments/navigation :: ${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')} ? 'admin-navigation' : 'navigation'"></div>
<div class="about-section"
     th:style="'background: url(/images/beauty-products.jpg) no-repeat left; background-size: 55%;'">
    <div class="inner-container">
        <h1>Blameless</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum,
            eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi
            neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <div>
                <span>Address</span>
                <p>Russia, Moscow</p>
            </div>
            <div>
                <span>Phone</span>
                <p>+1 234 1234 123</p>
            </div>
            <div>
                <span>Email Address</span>
                <p>youremail@domain.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>