<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Sign in</h1>
        <form th:action="@{/login}" method="post">
            <!-- error message -->
            <div class="message error" th:if="${param.error}">
                <span>Invalid username or password.</span>
            </div>
            <!-- logout message -->
            <div class="message logout" th:if="${param.logout}">
                <span>You have been logged out.</span>
            </div>
            <input type="text" id="username" name="username" placeholder="username"/>
            <input type="password" id="password" name="password" placeholder="password"/>
            <button>login</button>
            <p class="register-link">Not registered? <a href="/" th:href="@{/registration}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>