<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Sign up</h1>
        <form th:action="@{/registration}" method="post" th:object="${user}">
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="message success">You've successfully registered to our awesome app!</div>
            </div>

            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" placeholder="first name"/>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="last name"/>
            <input type="text" id="email" name="email" th:field="*{email}" placeholder="username"/>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="password"/>
            <button>create</button>
            <p class="register-link">Already registered? <a href="#" th:href="@{/login}">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>